@model TrainSchdule.Web.ViewModels.Student.StudentViewModel
<form asp-action="Create">
	<label asp-for="Alias"></label>
	<input asp-for="Alias" />

	<input type="submit" name="name" value="提交" />
</form>