<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>demo4</title>
	<link rel="stylesheet" type="text/css" href="demo2.css"/>
	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	<div class="header">

	</div>
	<div class="progress-wrap" id="progress_wrap" >
		<div class="time-wrap" :style="{width:wrap_width+'px'}">
			<div class="year" v-for='(item,index) of yearcount'>
				<div class="tit">{{item}}</div>
				<div class="month">一月</div>
				<div class="month">二月</div>
				<div class="month">三月</div>
				<div class="month">四月</div>
				<div class="month">五月</div>
				<div class="month">六月</div>
				<div class="month">七月</div>
				<div class="month">八月</div>
				<div class="month">九月</div>
				<div class="month">十月</div>
				<div class="month">十一月</div>
				<div class="month">十二月</div>
			</div>
		</div>
		<div class="task-wrap" id="task_wrap" :style="{width:wrap_width+'px'}">
			<div class="item-wrap" v-for="item of task" :key='item.task_id'>
				<div class="item"  :style="{width:wrapwidth(item),marginLeft:wrapleft(item)}">
					<div class="progress-bar" :style="{width:item.rates }">
						{{item.rates}}
						<p class="info">
							{{item.task_name}}
						</p>
					</div>
				</div>
				<item-child :list="item.wbs" :style="{width:wrapwidth(item),marginLeft:wrapleft(item)}"></item-child>
			</div>
		</div>
	</div>
	<script>
		new Vue({
			el:'#progress_wrap',
			data:{
				yearcount:[],
				task:[],
				starttime:0,
				endtime:0,
				show:false
			},
			computed:{
				year(){
					return parseInt(this.endtime) - parseInt(this.starttime) + 1
				},
				wrap_width(){
					return this.year*1200
				},
				start_year(){
					return new Date(this.starttime.toString()).getTime()/100000
				},
				end_year(){
					return new Date((parseInt(this.endtime) + 1).toString()).getTime()/100000
				},
				alltime(){
					return this.end_year - this.start_year
				},
				
			},
			mounted(){
				axios.get('1.json')
				.then(response=>this.getdata(response.data))
				
			},
			methods:{
				getdata(data){
					console.log(data)
					let year = []
					this.starttime = parseInt(data.start_date.substr(0,4))
					this.endtime = parseInt(data.end_date.slice(0,4));
					for(let i=this.starttime;i<this.endtime+1;i++){
						year.push(i)
					}
					
					this.yearcount = year
					
					let list = data.tasks
					list.forEach(item=>{item.isshow = false})
					this.task = list
				},
				wrapwidth(item){
					let current_start = new Date(item.start_date).getTime()/100000,
						current_end = new Date(item.end_date).getTime()/100000,
						current_during = (current_end - current_start)/this.alltime,
						width = this.toPercent(current_during)
						console.log(item.start_date)
						return width
				},
				wrapleft(item){
					let current_start = new Date(item.start_date).getTime()/100000,
						current_left = (current_start - this.start_year)/this.alltime,
						
						left = this.toPercent(current_left)
						
						return left
				},
				toPercent(point){
				    var str=Number(point*100).toFixed(2);
				    str+="%";
				    return str;
				},
				
			}
		})
		Vue.component('item-child',{
			template:`
				<div class="det">
					<div class="item-wrap" v-for="item of list">
					<div class="item" style="margin-left: 10%;">
						<div class="progress-bar" :style="{width:item.rates}">
							{{item.rates}}
							<p class="info">
								{{item.node_name}}
							</p>
						</div>
					</div>
					<item-child :list='item.child' v-if="item.child"></item-child>
				</div>
			</div>
			`,
			props:["list"],
			name:'det',
			data(){
				return{
					show:false
				}
			},
			
		})
		$(function(){
			function showDet(e){
				e.stopPropagation()
				let parent = $($(this).parents('.item-wrap')[0])
				parent.children('.det').slideToggle(300)
			}
			$('#task_wrap').on('click','.progress-bar',showDet)
		})
	</script>
</body>
</html>
